<div class="checkout-container">
  <h1 class="success-message">Payment Successful! Thank you for your purchase.</h1>
  <div class="gif-container" style="width:960px"><iframe
      allow="fullscreen"
      frameBorder="0"
      height="540"
      src="https://giphy.com/embed/G96zgIcQn1L2xpmdxi/video"
      width="960"
    ></iframe></div>
</div>